@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Guest information: Forename & Surname, Credit Card Number and Email Adress are all stored under GDRP guidelines and deleted under legislation. </p>
<p>All information is stored in accordance to GDRP  and The Data Protection Act. </p>
